.version.productos /* version checker */
{
	color: #000019;
	background-color: #DD9965;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1212px;
	min-height: 1136px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #41231B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
	padding: 20px 42px 62px 46px;
}

#u291
{
	z-index: 2;
	width: 208px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#buttonu295
{
	z-index: 4;
	width: 186px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFC72B;
	background-color: #C1272D;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 272px;
}

#u296-4
{
	z-index: 5;
	width: 119px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 33px;
}

#buttonu295:hover #u296-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu295:hover #u296-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 18px;
}

.js #buttonu295.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#buttonu299
{
	z-index: 14;
	width: 186px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFC72B;
	background-color: #C1272D;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 523px;
}

#buttonu299:hover
{
	background-color: #FFC72B;
	width: 186px;
	min-height: 0px;
	margin: 42px -10000px 0px 0px;
}

#u300-4
{
	z-index: 15;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 33px;
}

#buttonu295.ButtonSelected #u296-4,#buttonu299:hover #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu299.ButtonSelected #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu299:hover #u300-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 18px;
}

#buttonu297
{
	z-index: 9;
	width: 186px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFC72B;
	background-color: #C1272D;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 774px;
}

#buttonu297.ButtonSelected
{
	background-color: #C1272D;
	width: 186px;
	min-height: 0px;
	margin: 40px -10000px 0px 0px;
}

#u298-4
{
	z-index: 10;
	width: 128px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 33px;
}

#buttonu297:hover #u298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 128px;
	margin: 7px -10000px 0px 0px;
}

#buttonu297.ButtonSelected #u298-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 128px;
	margin: 7px -10000px 0px 0px;
}

#buttonu297:hover #u298-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 18px;
}

#buttonu293
{
	z-index: 19;
	width: 186px;
	border-width: 1px;
	border-style: solid;
	border-color: #FBC827;
	background-color: #C1272D;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 1025px;
}

#buttonu295::before,#buttonu299::before,#buttonu297::before,#buttonu293::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 19px rgba(255,255,255,0.75), inset -3px -3px 19px rgba(0,0,0,0.75);
}

#buttonu295:hover,#buttonu293:hover
{
	background-color: #FFC72B;
	width: 186px;
	min-height: 0px;
	margin: 40px -10000px 0px 0px;
}

#u294-4
{
	z-index: 20;
	width: 153px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 16px;
}

#buttonu293:hover #u294-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 153px;
	margin: 7px -10000px 0px 0px;
}

#buttonu293.ButtonSelected #u294-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 153px;
	margin: 7px -10000px 0px 0px;
}

#buttonu293:hover #u294-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 18px;
}

#pbuttonu365
{
	width: 0.01px;
	margin-left: 75px;
	margin-top: 68px;
}

#buttonu365
{
	z-index: 24;
	width: 448px;
	-pie-box-shadow: 6px 6px 8px #FFFFFF;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-color: #787878;
	background-color: #C1272D;
	border-radius: 10px;
	padding-bottom: 26.399999999999807px;
	position: relative;
	margin-right: -10000px;
}

#u368
{
	z-index: 33;
	width: 448px;
	background-color: transparent;
	position: relative;
}

#buttonu365:hover #u368
{
	width: 448px;
	min-height: 0px;
	margin: 0px;
}

#buttonu365.ButtonSelected #u368
{
	width: 448px;
	min-height: 0px;
	margin: 0px;
}

#u366-8
{
	z-index: 25;
	width: 341px;
	min-height: 23px;
	background-color: transparent;
	letter-spacing: 1px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 54px;
	margin-top: 21px;
	position: relative;
}

#buttonu365:hover #u366-8
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 341px;
	margin: 21px 0px 0px 54px;
}

#buttonu365.ButtonSelected #u366-8
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 341px;
	margin: 21px 0px 0px 54px;
}

#buttonu365:hover #u366-8 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu379
{
	z-index: 35;
	width: 451px;
	-pie-box-shadow: 6px 6px 8px #FFFFFF;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-color: #787878;
	background-color: #C1272D;
	border-radius: 10px;
	padding-bottom: 15.049999999999784px;
	position: relative;
	margin-right: -10000px;
	left: 634px;
}

#u395
{
	z-index: 45;
	width: 451px;
	background-color: transparent;
	position: relative;
}

#buttonu379:hover #u395
{
	width: 451px;
	min-height: 0px;
	margin: 0px;
}

#u380-9
{
	z-index: 36;
	width: 324px;
	min-height: 97px;
	background-color: transparent;
	letter-spacing: 1px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 72px;
	margin-top: 20px;
	position: relative;
}

#buttonu379:hover #u380-9
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 97px;
	width: 324px;
	margin: 20px 0px 0px 72px;
}

#buttonu379.ButtonSelected #u380-9
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 97px;
	width: 324px;
	margin: 20px 0px 0px 72px;
}

#buttonu379:hover #u380-9 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu407
{
	width: 0.01px;
	margin-left: 75px;
	margin-top: 105px;
}

#buttonu407
{
	z-index: 47;
	width: 448px;
	-pie-box-shadow: 6px 6px 8px #FFFFFF;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-color: #787878;
	background-color: #C1272D;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#buttonu365:hover,#buttonu407:hover
{
	background-color: #F7931E;
	width: 448px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu407_position_content
{
	padding-bottom: 12px;
}

#pu291,#pu409
{
	width: 0.01px;
}

#u409
{
	z-index: 56;
	width: 448px;
	height: 222px;
	position: relative;
	margin-right: -10000px;
}

.ie #u409
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u412
{
	z-index: 57;
	width: 448px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#buttonu407:hover #u412
{
	width: 448px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu407.ButtonSelected #u412
{
	width: 448px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u408-8
{
	z-index: 48;
	width: 341px;
	min-height: 23px;
	background-color: transparent;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 19px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 53px;
	margin-top: 27px;
	position: relative;
}

#buttonu407:hover #u408-8
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 341px;
	margin: 27px 0px 0px 53px;
}

#buttonu407.ButtonSelected #u408-8
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 341px;
	margin: 27px 0px 0px 53px;
}

#buttonu407:hover #u408-8 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u408-2,#u408-3,#u408-5
{
	color: #FFFFFF;
}

#u408-6
{
	color: #3C3C3C;
}

#buttonu463
{
	z-index: 59;
	width: 451px;
	-pie-box-shadow: 6px 6px 8px #FFFFFF;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-color: #787878;
	background-color: #C1272D;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 634px;
}

#buttonu379:hover,#buttonu463:hover
{
	background-color: #F7931E;
	width: 451px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu463_position_content
{
	padding-top: 2px;
}

#u469
{
	z-index: 69;
	width: 451px;
	background-color: transparent;
	position: relative;
}

#buttonu379.ButtonSelected #u395,#buttonu463:hover #u469
{
	width: 451px;
	min-height: 0px;
	margin: 0px;
}

#buttonu463.ButtonSelected #u469
{
	width: 451px;
	min-height: 0px;
	margin: 0px;
}

#u465-9
{
	z-index: 60;
	width: 341px;
	min-height: 92px;
	background-color: transparent;
	letter-spacing: 1px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 55px;
	margin-top: 27px;
	position: relative;
}

#buttonu463:hover #u465-9
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 92px;
	width: 341px;
	margin: 27px 0px 0px 55px;
}

#buttonu463.ButtonSelected #u465-9
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 92px;
	width: 341px;
	margin: 27px 0px 0px 55px;
}

#buttonu463:hover #u465-9 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u366-2,#u366-3,#u366-5,#u380-2,#u380-3,#u380-5,#u380-6,#u465-2,#u465-3,#u465-5,#u465-6
{
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}

#u366-6,#u380-7,#u465-7
{
	font-size: 14px;
	color: #3C3C3C;
}

#pu1038
{
	width: 0.01px;
	margin-left: 418px;
	margin-top: 27px;
}

#u1038
{
	z-index: 73;
	width: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1035
{
	z-index: 71;
	width: 69px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 152px;
}

#u1041
{
	z-index: 75;
	width: 69px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 298px;
}

body
{
	position: relative;
	min-width: 1300px;
	padding-top: 40px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

