.version.nosotros /* version checker */
{
	color: #0000F2;
	background-color: #EB372D;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.6863636363637px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #41231B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 71px;
	width: 0.01px;
}

#u1890
{
	z-index: 2;
	width: 92px;
	background-color: transparent;
	margin-left: 144px;
	position: relative;
}

#pbuttonu1893
{
	width: 0.01px;
	margin-left: 13px;
}

#buttonu1893
{
	z-index: 4;
	width: 100px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFC72B;
	background-color: #C1272D;
	border-radius: 10px;
	padding-bottom: 14px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#buttonu1893.ButtonSelected
{
	background-color: #C1272D;
	width: 100px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u1894-4
{
	z-index: 5;
	width: 87px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 6px;
}

#buttonu1893:hover #u1894-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 87px;
	margin: 8px -10000px 0px 0px;
}

#buttonu1893.ButtonSelected #u1894-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 87px;
	margin: 8px -10000px 0px 0px;
}

#buttonu1893:hover #u1894-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 18px;
}

#buttonu1893.ButtonSelected #u1894-4 p
{
	font-size: 14px;
}

#buttonu1895
{
	z-index: 9;
	width: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFC72B;
	background-color: #C1272D;
	border-radius: 10px;
	padding-bottom: 14px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 118px;
}

#buttonu1895:hover
{
	background-color: #FFC72B;
	width: 99px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u1896-4
{
	z-index: 10;
	width: 95px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 2px;
}

#buttonu1895:hover #u1896-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 95px;
	margin: 8px -10000px 0px 0px;
}

#buttonu1895.ButtonSelected #u1896-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 95px;
	margin: 8px -10000px 0px 0px;
}

#buttonu1895:hover #u1896-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1897
{
	z-index: 14;
	width: 122px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFC72B;
	background-color: #C1272D;
	border-radius: 10px;
	padding-bottom: 13px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 234px;
}

#buttonu1893::before,#buttonu1895::before,#buttonu1897::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px;
	box-shadow: inset 3px 3px 19px rgba(255,255,255,0.75), inset -3px -3px 19px rgba(0,0,0,0.75);
}

#buttonu1897:hover
{
	background-color: #FFC72B;
	width: 122px;
	min-height: 0px;
	margin: 1px -10000px -1px 0px;
}

#u1898-4
{
	z-index: 15;
	width: 123px;
	min-height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -1px;
}

#buttonu1897:hover #u1898-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 123px;
	margin: 8px -10000px 0px 0px;
}

#buttonu1897.ButtonSelected #u1898-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 123px;
	margin: 8px -10000px 0px 0px;
}

#buttonu1897:hover #u1898-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.js #buttonu1895.ose_pre_init,.js #buttonu1897.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1899-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	margin-left: 89px;
	position: relative;
}

#u1900-9
{
	z-index: 23;
	width: 357px;
	min-height: 180px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	margin-left: 13px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u1900-2,#u1900-4,#u1900-6
{
	font-size: 8px;
	text-align: left;
	line-height: 10px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#pu1901
{
	width: 0.01px;
	margin-left: 20px;
}

#u1901
{
	z-index: 32;
	width: 139px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1904
{
	z-index: 34;
	width: 140px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 201px;
}

#pu1907-4
{
	width: 0.01px;
	margin-left: 61px;
	margin-top: 6px;
}

#u1907-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
}

#u1909-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#pu1910-4
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 5px;
}

#u1910-4
{
	z-index: 44;
	width: 168px;
	min-height: 128px;
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	color: #FFFFFF;
	line-height: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u1911-4
{
	z-index: 48;
	width: 168px;
	min-height: 144px;
	background-color: transparent;
	font-size: 10px;
	text-align: justify;
	color: #FFFFFF;
	line-height: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	left: 177px;
}

#pu1915
{
	width: 0.01px;
	margin-left: 99px;
	margin-top: 5px;
}

#u1915
{
	z-index: 54;
	width: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1912
{
	z-index: 52;
	width: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 63px;
}

#u1918
{
	z-index: 56;
	width: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 129px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

