.version.tienda_villazon /* version checker */
{
	color: #00001B;
	background-color: #A0956C;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 295px;
	min-height: 499px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #41231B;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-left: 85px;
	padding-bottom: 71px;
}

#u2107
{
	z-index: 2;
	width: 92px;
	background-color: transparent;
	margin-left: 59px;
	position: relative;
}

#u2110-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	position: relative;
}

#buttonu2111
{
	z-index: 8;
	width: 174px;
	-pie-box-shadow: 6px 6px 8px #FFFFFF;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-color: #787878;
	background-color: #8C6239;
	border-radius: 10px;
	padding-left: 16px;
	padding-right: 20px;
	padding-bottom: 20.049999999999812px;
	margin-top: 24px;
	position: relative;
}

#buttonu2111:hover
{
	background-color: #F7931E;
	width: 174px;
	min-height: 0px;
	margin: 24px 0px 0px;
}

#buttonu2111.ButtonSelected
{
	background-color: #8C6239;
	width: 174px;
	min-height: 0px;
	margin: 24px 0px 0px;
}

#u2113
{
	z-index: 14;
	width: 175px;
	background-color: transparent;
	position: relative;
}

#buttonu2111:hover #u2113
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#buttonu2111.ButtonSelected #u2113
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u2112-5
{
	z-index: 9;
	width: 168px;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 3px;
	margin-top: 11px;
	position: relative;
}

#buttonu2111:hover #u2112-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 168px;
	margin: 11px 0px 0px 3px;
}

#buttonu2111.ButtonSelected #u2112-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 168px;
	margin: 11px 0px 0px 3px;
}

#buttonu2111:hover #u2112-5 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu2126
{
	z-index: 32;
	width: 202px;
	-pie-box-shadow: 6px 6px 8px #FFFFFF;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-color: #787878;
	background-color: #8C6239;
	border-radius: 10px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 19px;
	margin-top: 25px;
	position: relative;
}

#buttonu2126:hover
{
	background-color: #F7931E;
	width: 202px;
	min-height: 0px;
	margin: 25px 0px 0px;
}

#buttonu2126.ButtonSelected
{
	background-color: #8C6239;
	width: 202px;
	min-height: 0px;
	margin: 25px 0px 0px;
}

#u2128
{
	z-index: 38;
	width: 172px;
	background-color: transparent;
	margin-left: 15px;
	position: relative;
}

#buttonu2126:hover #u2128
{
	width: 172px;
	min-height: 0px;
	margin: 0px 0px 0px 15px;
}

#buttonu2126.ButtonSelected #u2128
{
	width: 172px;
	min-height: 0px;
	margin: 0px 0px 0px 15px;
}

#u2127-5
{
	z-index: 33;
	width: 202px;
	min-height: 23px;
	background-color: transparent;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 13px;
	position: relative;
}

#buttonu2126:hover #u2127-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 202px;
	margin: 13px 0px 0px;
}

#buttonu2126.ButtonSelected #u2127-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 202px;
	margin: 13px 0px 0px;
}

#buttonu2126:hover #u2127-5 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2112-2,#u2127-2
{
	color: #FFFFFF;
	font-weight: bold;
}

#u2112-3,#u2127-3
{
	color: #3C3C3C;
}

#buttonu2121
{
	z-index: 24;
	width: 164px;
	-pie-box-shadow: 6px 6px 8px #FFFFFF;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-color: #787878;
	background-color: #8C6239;
	border-radius: 10px;
	padding-left: 23px;
	padding-right: 23px;
	padding-bottom: 19.499999999999773px;
	margin-top: 25px;
	position: relative;
}

#buttonu2121:hover
{
	background-color: #F7931E;
	width: 164px;
	min-height: 0px;
	margin: 25px 0px 0px;
}

#buttonu2121.ButtonSelected
{
	background-color: #8C6239;
	width: 164px;
	min-height: 0px;
	margin: 25px 0px 0px;
}

#u2122
{
	z-index: 30;
	width: 164px;
	background-color: transparent;
	position: relative;
}

#buttonu2121:hover #u2122
{
	width: 164px;
	min-height: 0px;
	margin: 0px;
}

#buttonu2121.ButtonSelected #u2122
{
	width: 164px;
	min-height: 0px;
	margin: 0px;
}

#u2124-5
{
	z-index: 25;
	width: 164px;
	min-height: 13px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 10px;
	position: relative;
}

#buttonu2121:hover #u2124-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 164px;
	margin: 10px 0px 0px;
}

#buttonu2121.ButtonSelected #u2124-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 164px;
	margin: 10px 0px 0px;
}

#buttonu2121:hover #u2124-5 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2124-3
{
	font-weight: bold;
}

#buttonu2116
{
	z-index: 16;
	width: 168px;
	-pie-box-shadow: 6px 6px 8px #FFFFFF;
	box-shadow: 6px 6px 8px rgba(255,255,255,0.5);
	border-color: #787878;
	background-color: #8C6239;
	border-radius: 10px;
	padding-left: 21px;
	padding-right: 21px;
	padding-bottom: 25px;
	margin-top: 25px;
	position: relative;
}

#buttonu2116:hover
{
	background-color: #F7931E;
	width: 168px;
	min-height: 0px;
	margin: 25px 0px 0px;
}

#buttonu2116.ButtonSelected
{
	background-color: #8C6239;
	width: 168px;
	min-height: 0px;
	margin: 25px 0px 0px;
}

#u2118
{
	z-index: 22;
	width: 168px;
	background-color: transparent;
	position: relative;
}

#buttonu2116:hover #u2118
{
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#buttonu2116.ButtonSelected #u2118
{
	width: 168px;
	min-height: 0px;
	margin: 0px;
}

#u2117-5
{
	z-index: 17;
	width: 168px;
	min-height: 31px;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 25px;
	position: relative;
}

#buttonu2116:hover #u2117-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 168px;
	margin: 25px 0px 0px;
}

#buttonu2116.ButtonSelected #u2117-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 168px;
	margin: 25px 0px 0px;
}

#buttonu2116:hover #u2117-5 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu2134
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: -1px;
}

#u2134
{
	z-index: 42;
	width: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u2131
{
	z-index: 40;
	width: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 74px;
}

#u2137
{
	z-index: 44;
	width: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 147px;
}

#u2140
{
	z-index: 46;
	width: 55px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 227px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

